.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  
  .background-picture {
    position: absolute;
    margin: 130px 20px;
    box-shadow: 1px 10px 15px 15px rgba(128, 128, 128, 0.219);
  
  }
  
 

 
  .landing-text {
    color: white;
    text-wrap: nowrap;
    font-family: "cursive";
    font-size: "30px";
   
    animation: colorZoom 3s infinite ease-in-out;
     
  }
  .landing-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes colorZoom {
    0% {
      color: white;
      transform: scale(1);
    }
    25% {
      color: #ef7f1a; 
      transform: scale(1.1);
    }
    50% {
      color: #38cb89;
      transform: scale(1);
    }
    75% {
      color: #007bff; 
      transform: scale(0.9);
    }
    100% {
      color: white;
      transform:scale(1);
    }
  }

  @media (max-width: 1224px) {
    .landing-page .background-picture:nth-child(1) {
      /* visibility: hidden;
       */
       display: none;
    }

    .landing-page .background-picture:nth-child(2) {
      
   
    }

  }
  
  @media (max-width: 927px) {
    #hidden {
        display: none;
    }

    /* .landing-text-container {
        margin-left: 20px;
    } */
  }