@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.container {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.movie-title {
    font-size: 4em;
    font-family: "Sevillana";
    font-weight: 200;
    text-align: center;
    text-wrap: wrap;
    width: 7em;
    
}
.movie-properties{
    display: flex;
    gap: 10px;
    justify-content: center;
} 

#rated {
    background-color: orangered;
   margin-left: 10px;
}


.movie-properties p {
    padding: 7px 5px;
    margin: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.253);
    padding-left: 8px;
}

.about {
    text-wrap: wrap;
    text-align: left;
    margin-left: 10px;
    max-width: 700px;
}

.buttons{
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    
    /* bottom: 20px; */
    
}
span {
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
#watch {
    background-color: orangered;
    color: white;
    border: 0px;
}
#watch:hover {
    background-color: rgba(255, 68, 0, 0.473);
}
#my-list {
    background-color: rgba(0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    
}
#my-list:hover {
    background-color: orangered;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    /* display: flex; */
  }
  .close {
    background-color: red;
    padding: 3px;
    bottom: 75%;
    position: absolute;
    
  }
  .close:hover {
    background-color: #5f0404;
  }
  
  .modal iframe {
    padding-top: 10%;
    width: 50%;
    height: 300px;
    border: none;
  }
  
  .modal button {
    display: block;
    margin: 10px auto;
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
 
  


@media (max-width: 1180px)  {
    .movie-title {
        font-size: 3rem;
        margin-left: 40px;
        
    }
    button {
        margin-bottom: 2px;
    }
    .close {
        bottom: 80%;
    }
}

@media (max-width: 900px) {
    .movie-title{
       width: 100%;
    }
    .movie-properties {
        font-size: 20px;
    }
    .about{
        font-size: 20px;
        text-align: center;
        margin-left: 70px;
    }
    button {
        width: 130px;
        
    }
    .buttons {
        gap: 20px;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .close {
        bottom: 90%;
    }
    .container {
        flex: 1;
        justify-content: center;
    }
    .container:not(:has(.selected-movie)) .buttons{
        position: relative;
        left: 50%;
        height: 60px;
      
      
    }
    .container:not(:has(.selected-movie)) .movie-title{
        font-size: 4em;
        position: relative;
        left: 50%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .movie-title {
        width: 100%;
        font-size: 17px;
        margin:5px -2px;
    }
    .movie-properties {
        font-size: 10px;
    }
    .about {
        font-size: 14px;
        position: relative;
        transform: translateX(-10%);
    }
    .buttons {
        margin-top: 5px;
        bottom: 20px;
        justify-content: center;
    }
    .close {
        bottom: 90%;
    }
    .container:not(:has(.selected-movie)) .buttons{
        position: relative;
        margin-top: 30%;
        margin-left: -50%;
        
      
      
    }
    .selected-movie {
        position: relative;
    }
    .container:not(:has(.selected-movie)) .movie-title{
      font-size: 2em; 
      margin-bottom: 20px;
      position: absolute;
      /* left: 50%; */
      transform: translateX(-50%);
      margin-left: 0;
        
       
        
    }
}

    
    

@media (max-width: 375px) {
    .container:not(:has(.selected-movie)) .buttons{
        margin-left: -70px;
    }
}
@media (max-width: 340px) {
    .container:not(:has(.selected-movie)) .buttons{
        display: flex;
        justify-content:space-around;
        align-items: center;
       
       margin-left: -90px;
        
        
    }
    .movie-title {
        margin-top: -20px;
    }
    .about {
        font-size: 10px;
    }
   
}

